
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>You are not authorised to view this page. Please contact administrator at techsupport@dfmail.org</h2>

    
</body>
</html>
