<link href="~/Content/css/slim.css" rel="stylesheet" />
<div class="slim-footer" style="background-color: #f1fafb;">
    <div class="container-fluid">
        <p>
            Copyright 2021 © All Rights Reserved Deshpande Skilling. For Any technical help CLICK HERE TO CALL
            <span class="fa fa-phone"></span>
            <a href="tel:9606947789">9606947789</a>
        </p>
        <p>
            Handcrafted by:
            <a href="https://www.deshpandefoundationindia.org" target="_blank">
                Technology @@ Deshpande foundation
            </a>
        </p>
    </div>
    <!-- container -->
</div>