
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_ResponsePage.cshtml";
}

<style>
    #btnBack, #btnSave, #Incharge_Name {
        line-height: 17px;
        display: none;
    }
</style>

@Html.Partial("_Menu")

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="row m-b-10">
                <div class="col-md-12">
                    <div class="col-md-9" id="Incharge_Name">
                        <span>Incharge Name : </span><label id="Incharge"></label>
                    </div>
                    <div class=" col-md-3 text-right">
                        <div class="col-md-6">
                            <a id="btnSave" class="btn btn-success">SAVE</a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-primary" id="btnBack">Back</a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-12" id="tblAc_Summary" style="overflow: auto; min-height: 150px; max-height: 550px;display:none;">
                <table class="table table-bordered" id="tblAccount_MainSummary">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Incharge Name</th>
                            <th>Total Students</th>
                            <th>Collected Amount</th>
                            <th>Submitted Amount</th>
                            <th>Pending Amount</th>
                            <th>Account Confirmed</th>
                            <th>Account Pending</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="col-md-12" id="tblAc_DetailSummary" style="overflow: auto; min-height: 150px; max-height: 550px;display:none;">
                <table class="table table-bordered" id="tblAccount_DetailSummary">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Amount</th>
                            <th>Payment Type</th>
                            <th>Remarks</th>
                            <th>Paid Date</th>
                            <th>Verification <input type="checkbox" id="selectAllData" /></th>
                            <th>Account Confirm Date</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        Load_Account_Summary();
    });

    function Load_Account_Summary() {
        $("#btnBack").hide();
        $("#Incharge_Name").hide();
        $("#tblAccount_MainSummary tbody").html("");
        localStorage.removeItem('temp_Incharge_Name');
        $.ajax({
            cache: false,
            async: false,
            type: 'GET',
            dataType: 'json',
            url: '/CashReg/Load_AcountSummary',
            data: {},
            success: function (data) {
                if (data.length > 0) {
                    $("#tblAc_Summary").show();
                    $("#tblAccount_MainSummary tbody").html('');
                    $.each(data, function (i, obj) {
                        $("#tblAccount_MainSummary tbody").append('<tr onclick="View_Details(' + obj.User_Id + ')"><td>' + (i + 1) + '</td><td>' + obj.UserName + '</td><td>' + obj.Total_Reg + '</td><td>' + obj.Collected_Amount + '</td><td>' + obj.Submitted_Amount + '</td><td>' + obj.Pending_Amount + '</td><td>' + obj.Account_Confirmed + '</td><td>' + obj.Account_Pending + '</td></tr>');
                    });
                }
                else {
                    $("#tblAc_Summary").hide();
                    error("No Data Found", "topCenter");
                }
            },
            error: function (ex) {
                $("#tblAc_Summary").hide();
                error("Failed to Load Table" + ex.Message, "topCenter");
            }
        });
    }

    var tempIncharge_Id;
    function View_Details(Incharge_Id) {
        tempIncharge_Id = Incharge_Id;
        localStorage.setItem('tempIncharge_Id', tempIncharge_Id);
        $("#btnBack").show();
        $("#Incharge_Name").show();
        $.ajax({
            cache: false,
            async: false,
            type: 'GET',
            dataType: 'json',
            url: '/CashReg/Reconsoliate_Details',
            data: { Id: Incharge_Id },
            success: function (data) {
                if (data.length > 0) {
                    $("#tblAccount_DetailSummary tbody").html("");
                    $("#tblAc_Summary").hide();
                    $("#tblAc_DetailSummary").show();                    
                    $.each(data, function (i, obj) {                       
                        if (obj.isAccountStatus == 1) {
                            var Account_Status = "Confirmed";
                            $("#tblAccount_DetailSummary tbody").append('<tr><td>' + (i + 1) + '</td><td>' + obj.Amount + '</td><td>' + obj.Payment_Type + '</td><td>' + obj.Remarks + '</td><td>' + obj.Created_Date + '</td><td class="text-center">' + Account_Status + '</td><td>' + obj.AccountConfirm_Date + '</td></tr>');
                            $("#Incharge").html("");
                            $("#Incharge").append(obj.Incharge_Name);
                        } else {
                            $("#tblAccount_DetailSummary tbody").append('<tr><td>' + (i + 1) + '</td><td>' + obj.Amount + '</td><td>' + obj.Payment_Type + '</td><td>' + obj.Remarks + '</td><td>' + obj.Created_Date + '</td><td class="text-center"><input class="data-checkbox" value = "' + obj.Id + '" type = "checkbox" /></td><td>' + obj.AccountConfirm_Date + '</td></tr>');
                            $("#Incharge").html("");
                            $("#Incharge").append(obj.Incharge_Name);
                        }
                       
                    });
                }
                else {
                    $("#tblAc_DetailSummary").hide();
                    error("No Data Found", "topCenter");
                }
            },
            error: function (ex) {
                $("#tblAc_DetailSummary").hide();
                error("Failed to Load Table" + ex.Message, "topCenter");
            }
        })
    }



    var selectedData = [];

    $(document).on('change', '#selectAllData', function () {
        var isChecked = $(this).prop('checked');
        $('.data-checkbox').prop('checked', isChecked);
        if (isChecked) {
            selectedData = $('.data-checkbox').map(function () {
                return { Registration_Id: $(this).val() };
            }).get();
        } else {
            selectedData = [];
        }

        if (selectedData.length > 0) {
            $('#btnSave').show();
        } else {
            $('#btnSave').hide();
        }
    });

    $(document).on('change', '.data-checkbox', function () {
        var isChecked = $(this).val();
        if ($(this).prop('checked')) {
            selectedData.push({ Id: isChecked });
        } else {
            selectedData = selectedData.filter(function (Account_Data) {
                return Account_Data.Id !== isChecked;
            });
        }

        var allChecked = $('.data-checkbox:checked').length === $('.data-checkbox').length;
        $('#selectAllData').prop('checked', allChecked);

        if (selectedData.length > 0) {
            $('#btnSave').show();
        } else {
            $('#btnSave').hide();
        }
    });


    $("#btnBack").click(function () {
        $("#tblAc_DetailSummary").hide();
        Load_Account_Summary();
        $("#btnSave").hide();        
    });

    $("#btnSave").click(function () {
        if (selectedData.length > 0) {
            $.ajax({
                cache: false,
                async: false,
                type: 'POST',
                url: '/CashReg/Update_AccountStatus',
                data: { SelectedValues: selectedData },
                success: function (data) {
                    if (data.status = "success") {
                        success("Confirmed Successfully", "topCenter");
                        $("#btnSave").hide();
                        selectedData = [];
                        var Incharge_Id = localStorage.getItem('tempIncharge_Id');
                        View_Details(Incharge_Id);
                    }
                },
                error: function (ex) {
                    selectedData = [];
                    error("Failed to Confirm Status" + ex.Message, "topCenter");
                }
            });
        }
        else {
            error("Select The Checkbox", "topCenter");
        }
    });

</script>


