
@{
    ViewBag.Title = "Analytics";
    Layout = "~/Views/Shared/_ResponsePage.cshtml";
}
@Html.Partial("_Menu")
<div class="container-fluid">
   
    <div class="row">
     
        <div class="col-md-12">
            <iframe style="height: 750px; width:100%;border:0px;" src="https://analytics.zoho.in/open-view/286995000000304934/9253e31a505f16b53e6d06cd25de6819"></iframe>
        </div>
    </div>


</div>

