<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="URL" value="https://www.dfindia.org:81/Home/Survey?UID="/>
    <add key="RR_URL" value="https://www.dfindia.org:81/Reward/Survey?UID="/>
    <add key="Mail_Sub" value="Invitation from Deshpande Foundation"/>
    <add key="key" value="A!9H*hi%Xj+YY4YP2@fun#007X_^"/>
  
    <add key="bash_key" value="B$A!9HDhi%XYZ4YP2fun@007#X"/>
  </appSettings>
  <connectionStrings>
    <add name="Notify" connectionString="server=medprdp.dfindia.org;user id=ruserone;password=DeshCanada@123HubliTECH1234;database=cultural_survey;Min Pool Size=0;Max Pool Size=100;Pooling=true;" providerName="MySql.Data.MySqlClient"/>
    <add name="RR" connectionString="server=medprdp.dfindia.org;user id=ruserone;password=DeshCanada@123HubliTECH1234;database=reward_recognition;Min Pool Size=0;Max Pool Size=100;Pooling=true;" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="Notify" connectionString="server=misrdp.leadcampus.org;user id=ruserone;password=DeshCanada@123HubliTECH1234;database=cultural_survey;Min Pool Size=0;Max Pool Size=100;Pooling=true;" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>
